body {
    font-family: 'Poppins', sans-serif;
}

.carousel-item img {
    /* Height: 35rem; */
    filter: brightness(70%);
    position: relative;
}

.container-slider {
    position: absolute;
    bottom: 0;
    left: 40%;
    right: 0;
    padding-bottom: 200px;
}